BRICK(3, 2, 0)
BRICK(4, 2, 0)
BRICK(5, 2, 0)
BRICK(6, 2, 0)
BRICK(7, 2, 0)
BRICK(8, 2, 0)
BRICK(9, 2, 0)
BRICK(10, 2, 0)
BRICK(11, 2, 0)
BRICK(12, 2, 0)
SPIKE(15, 0, 0)
SPIKE(16, 0, 0)
SPIKE(17, 0, 0)
SPIKE(23, -3, 0)
SPIKE(24, -3, 0)
SPIKE(25, -3, 0)
SPIKE(26, -3, 0)
SPIKE(27, -3, 0)
SPIKE(28, -3, 0)
SPIKE(29, -3, 0)
SPIKE(30, -3, 0)
SPIKE(31, -3, 0)
SPIKE(32, -3, 0)
SPIKE(33, -3, 0)
SPIKE(34, -3, 0)
SPIKE(35, -3, 0)
SPIKE(36, -3, 0)
SPIKE(37, -3, 0)
SPIKE(38, -3, 0)
SPIKE(39, -3, 0)
SPIKE(40, -3, 0)
SPIKE(41, -3, 0)
SPIKE(42, -3, 0)
BRICK(42, 1, 0)
BRICK(43, 1, 0)
BRICK(44, 1, 0)
BRICK(45, 1, 0)
BRICK(46, 1, 0)
BRICK(43, 2, 0)
BRICK(44, 2, 0)
BRICK(45, 2, 0)
BRICK(46, 2, 0)
BRICK(44, 3, 0)
BRICK(45, 3, 0)
BRICK(46, 3, 0)
BRICK(45, 4, 0)
BRICK(46, 4, 0)
BRICK(46, 5, 0)
SPIKE(55, 0, 0)
